body {
  background-color: rgb(253, 253, 253);
  font-family: 'RecursoSansRegular';
}

.text {
  text-align: left;
  max-width: 300px;
}

ul {
  padding: 0px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 100px;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 600px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  border: black solid 2px;
  border-bottom: none;
  width: 350px;
  height: 250px;
  font-size: 70px;
  color: white;
  background-color: #121212;
}

#display > p {
  margin: 0;

  margin-bottom: 10px;
}
.output {
  width: 350px;
  height: 100px;
  overflow: hidden;
  padding-right: 10px;
  text-align: right;
  overflow-wrap: break-word;
}

#buttons {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 350px;
  height: 350px;
  background-color: #252525;

  border: black solid 2px;
}

a {
  color: black;
  text-decoration: none;
}
button {
  font-family: Bahnschrift;
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.numbers {
  transition: 0.2s ease-in-out;
  padding: 0px;
  border: black solid 1px;
  background-color: white;
  width: 100%;
  height: 100%;
}
.operators {
  font-weight: bolder;
  padding: 0px;
  border: black solid 1px;
  background-color: #ff0000;
  width: 100%;
  height: 100%;
}

.mini {
  font-size: 1rem;
  color: #bdbdbd;
  padding-right: 10px;
}

.Equal {
  color: white;
  font-weight: bolder;
  padding: 0px;
  border: black solid 1px;
  background-color: #000000;
  width: 100%;
}

.clear {
  color: white;
  font-weight: bolder;
  padding: 0px;
  border: black solid 1px;
  background-color: #000000;
  width: 100%;
}
.clear:hover {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding: 0px;
  border: black solid 1px;
  background-color: #ff0000;
  width: 100%;
}
